* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw+1vh);
    --color: #FEA86F;
}

@font-face {
    font-family: "Robot_A";
    src: url(../fonts/Roboto/Roboto-Regular.woff);
}

@font-face {
    font-family: "Roboto_Bold";
    src: url(../fonts/Roboto/Roboto-Bold.woff);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #010101;
    color: white;
    font-family: Robot_A, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #282842;
}

body::-webkit-scrollbar-thumb {
    background-color: #2b4357;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .25)),
            color-stop(.5, transparent), to(transparent));
}

.header {
    min-height: 100vh;
    z-index: 1;
}

.header::after {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index)*10);
    background-image: url(../img/1блок/переход-кабеля-свет.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index)*-6);
}

/* .layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
} */

.header-text {
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    padding: 50px;
    color: #91D1F4;
    filter: drop-shadow(1px 1px 5px #162B3B);
}

.header-text__title {
    font-size: calc(var(--index)*2.5);
    letter-spacing: calc(var(--index)/3);
}

.header-text__subtitle {
    font-size: calc(var(--index)*2);
    letter-spacing: calc(var(--index)/7);
}


.header-images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 2;
    will-change: transform;
}


.images-layer__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header-images__base,
.header-images__middle,
.header-images__front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    will-change: transform;
}

.header-images__base {
    background-image: url("../img/1блок/фон.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    top: 0;
}

.header-images__middle {
    background-image: url("../img/1блок/середина-2монитора.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    top: 0;
    z-index: 2;
}

@media (max-aspect-ratio:3/2) {
    .header-images__middle {
        background-position: 75% top;
        z-index: 3;
    }
}

.header-images__front {
    background-image: url("../img/1блок/front1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    top: -1%;
    z-index: 2;
}

.section {
    min-height: 100vh;
    color: black;
    text-shadow: 6px 5px 50px rgb(255, 255, 255);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    position: relative;
}

.section::after {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index)*10);
    background-image: url(../img/2блок/переход.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index)*-5)
}

.section-photo {
    z-index: 1;
}

.section-photo__img {
    max-width: calc(var(--index)*10);
    border: 2px solid #FFD37A;
    text-shadow: 6px 5px 50px rgb(0 0 0);
    margin: 50px;
}

.section-text {
    z-index: 1;
    border: 2px solid #FFD37A;
    background: #5C341B;
    opacity: 0.8;
}

.section-text__title {
    z-index: 1;
    color: #FFD37A;
    text-align: center;
    text-transform: uppercase;
    font-size: calc(var(--index)*1.8);
    letter-spacing: calc(var(--index)/3);
    padding: 15px 15px 0px;
}

.section-text__subtitle {
    z-index: 1;
    color: #FFD37A;
    letter-spacing: calc(var(--index)/7);
    font-size: calc(var(--index)*1);
    max-width: calc(var(--index)*30);
    padding: 15px;
}


.section-images {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.section-images__base {
    background-image: url(../img/2блок/article-dark.webp);
    transform: translate3d(0, calc(var(--scrollTop)/4.5), 0);
    top: -25%;
    z-index: 0;
}

.section-images__middle {
    transform: translate3d(0, calc(var(--scrollTop)/7.7), 0);
    top: -16%;
    z-index: 2;
}

/* .copy {
    position: absolute;
    bottom: calc(var(--index)*2.5);
    opacity: 0.5;
    font-size: calc(var(--index)*2);
} */

.body {
    z-index: 2;
    min-height: 100vh;
    color: white;
    text-shadow: 6px 5px 50px rgb(0 0 0);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.articless {
    z-index: 2;
    min-height: 100vh;
    color: white;
    text-shadow: 6px 5px 50px rgb(0 0 0);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.body-text {
    z-index: 1;
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    transform: translate3d(0, calc(var(--scrollTop)/7), 0);
}

.body-text__title {
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: calc(var(--index)*1.8);
    letter-spacing: calc(var(--index)/3);
    transform: translate3d(0, calc(var(--scrollTop)/-7.5), 0);
    will-change: transform;
}

.body-text__subtitle {
    z-index: 1;
    font-size: calc(var(--index)*1);
    max-width: calc(var(--index)*30);
    margin-top: calc(var(--index)/1.25);
    letter-spacing: calc(var(--index)/7);
    transform: translate3d(0, calc(var(--scrollTop)/-7.5), 0);
    will-change: transform;
}

.body-text__image {
    background-image: url(../img/3box.webp);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

/* ._container {
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
} */

.aside {
    min-height: 100vh;
    position: relative;
}

.aside::after {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index)*10);
    background-image: url(../img/3блок/переход-киберпанк.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -9%;
}

.aside::before {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index)*10);
    background-image: url(../img/3блок/искры.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 94%;
}

.aside-body {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.aside-text {
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.aside-text__title {
    color: palevioletred;
    display: flex;
    font-size: 22px;
    letter-spacing: 6px;
    margin: 0px 0px 30px 0px;
    align-items: center;
}

.aside-images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    will-change: transform;
}


/* .images-parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */

.aside-images__base,
.aside-images__middle,
.aside-images__front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    will-change: transform;
}

.aside-images__base {
    background-image: url("../img/3блок/киберпанк-идущийчеловек-темный.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    top: 0;
}

.aside-images__middle {
    background-image: url("../img/3блок/теменая-середина-для-кибер-панка.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    top: -12%;
    z-index: 2;
}

@media (max-aspect-ratio:3/2) {
    .aside-images__middle {
        background-position: 75% top;
        z-index: 3;
    }
}

.aside-images__front {
    background-image: url("../img/3блок/samurai.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    top: -15%;
    z-index: 2;
    filter: drop-shadow(1px 1px 5px rgb(42, 130, 189));
}

.socials {
    height: 100vh;
    background: slategrey;
    z-index: 1;
    position: relative;
    background-image: url(../img/157265.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-container {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socials-text {
    padding-left: 50px;
    height: 50vh;
    width: 65%;
    border: 2px solid black;
    background-color: #591529;
    opacity: 0.7;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.socials-text__title {
    font-size: 32px;
    font-weight: 600;
    color: #F8FBB7;
    filter: drop-shadow(1px 1px 5px #781C35);
}

.socials-text__subtitle {
    font-size: 32px;
    font-weight: 600;
    padding-left: 10px;
    color: #F8FBB7;
    filter: drop-shadow(1px 1px 5px #781C35);
}

.socials-icon {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-container {}

.icon-link {}

.icon-link__img {
    width: 124px;
    margin: 50px;
    filter: drop-shadow(1px 1px 5px #781C35);
}

.icon-link__img:hover {
    filter: drop-shadow(1px 1px 5px #7AC6D4);
}